<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="/" />
  <script src="https://cdn.tailwindcss.com?plugins=typography"></script>


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Serif+Display:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Indie+Flower&family=Ledger&family=Parisienne&display=swap"
    rel="stylesheet">

  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            primary: tailwind.colors.teal, // gives primary-50 ... primary-950
          },
          fontFamily: {
            serifDisplay: ['"DM Serif Display"', 'serif'],
            garamond: ['"EB Garamond"', 'serif'],
            ledger: ['Ledger', 'serif'],
            parisienne: ['Parisienne', 'serif'],
            indie: ['Indie Flower', 'serif'],
            edu: ['Edu AU VIC WA NT Pre', 'serif']
          },
        },
      },
    }
  </script>

  <HeadOutlet />
</head>

<body class="bg-amber-50 font-sans text-gray-900">
  <Routes />
</body>

</html>
