@page "/"
@page "/blog/{fileName}"
@using System.Globalization
@using BlazorStatic
@using BlazorStatic.Services
@inject BlazorStaticContentService<BlogFrontMatter> blazorStaticContentService


@* No filename -> show latest posts *@
@if (string.IsNullOrWhiteSpace(FileName))
{
  <div class="divide-y divide-gray-700">
    <div class="space-y-2 pb-8 pt-6 md:space-y-5">
      <H1> mé záznamy</H1>
    </div>

    <PostsList />
  </div>
  return;
}

@* Show specific post by filename param *@
@if (post == null)
{
  <div>Post not found 🤷 </div>
  return;
}
<article>
  <div class="xl:divide-y  xl:divide-gray-700">
    <header class="pt-6 xl:pb-6">
      <div class="space-y-1 text-center">
        <dl class="space-y-10">
          <div>
            <dt class="sr-only">Published on</dt>
            <dd class="text-base font-medium leading-6 text-gray-400">
              <time
                datetime="@post.FrontMatter.Published.ToString("yyyy-MM-ddTHH:mm:ss.fffK", CultureInfo.InvariantCulture)">
                @post.FrontMatter.Published.ToString(WebsiteKeys.DateFormat, WebsiteKeys.DateCultureInfo)
              </time>
            </dd>
          </div>
        </dl>
        <div class="prose prose-invert mx-auto ">

          <H1> @post.FrontMatter.Title</H1>
        </div>
      </div>
    </header>
    <div class="   pb-8 divide-gray-700   xl:divide-y-0">

      <div class=" text-sm font-medium leading-5 divide-gray-700    xl:divide-y">
        <div class="py-4 xl:py-8">
          <h2 class="text-xs uppercase tracking-wide text-gray-400">Tags</h2>
        <TagsComponent Tags="post.FrontMatter.Tags"/>
        </div>
      </div>
      <div class="divide-y  divide-gray-700   xl:pb-0">
        <div class="prose prose-invert max-w-none text-neutral-800 font-ledger   ">
          @((MarkupString)post.HtmlContent)
        </div>
      </div>
      <footer>
        <div class="pt-4 xl:pt-8">
          <a class="text-primary-600 hover:text-primary-300" aria-label="Back to the home" href="">←
            Zpět</a>
        </div>
      </footer>
    </div>
  </div>
</article>


@code {
  [Parameter] public string? FileName { get; set; }
  Post<BlogFrontMatter>? post;

  protected override void OnInitialized()
  {
    if (string.IsNullOrWhiteSpace(FileName)) return;
    post = blazorStaticContentService.Posts.FirstOrDefault(x => x.Url == FileName);
  }
}
